
Mine-Sweeper-game/.vs/Mine-Sweeper-game/v16/.suo
Mine-Sweeper-game/.vs/Mine-Sweeper-game/v16/Browse.VC.db
Mine-Sweeper-game/.vs/Mine-Sweeper-game/v16/ipch/AutoPCH/ce24dce774e802c0/MAIN.ipch
Mine-Sweeper-game/Mine-Sweeper-game/x64/Debug/Field.obj
Mine-Sweeper-game/Mine-Sweeper-game/x64/Debug/Game2D.obj
Mine-Sweeper-game/Mine-Sweeper-game/x64/Debug/main.obj
Mine-Sweeper-game/Mine-Sweeper-game/x64/Debug/Mine-Swe.e57bc0fc.tlog/CL.command.1.tlog
Mine-Sweeper-game/Mine-Sweeper-game/x64/Debug/Mine-Swe.e57bc0fc.tlog/CL.read.1.tlog
Mine-Sweeper-game/Mine-Sweeper-game/x64/Debug/Mine-Swe.e57bc0fc.tlog/CL.write.1.tlog
Mine-Sweeper-game/Mine-Sweeper-game/x64/Debug/Mine-Swe.e57bc0fc.tlog/link.command.1.tlog
Mine-Sweeper-game/Mine-Sweeper-game/x64/Debug/Mine-Swe.e57bc0fc.tlog/link.read.1.tlog
Mine-Sweeper-game/Mine-Sweeper-game/x64/Debug/Mine-Swe.e57bc0fc.tlog/link.write.1.tlog
Mine-Sweeper-game/Mine-Sweeper-game/x64/Debug/Mine-Swe.e57bc0fc.tlog/Mine-Sweeper-game.lastbuildstate
Mine-Sweeper-game/Mine-Sweeper-game/x64/Debug/Mine-Sweeper-game.exe.recipe
Mine-Sweeper-game/Mine-Sweeper-game/x64/Debug/Mine-Sweeper-game.ilk
Mine-Sweeper-game/Mine-Sweeper-game/x64/Debug/Mine-Sweeper-game.log
Mine-Sweeper-game/Mine-Sweeper-game/x64/Debug/vc142.idb
Mine-Sweeper-game/Mine-Sweeper-game/x64/Debug/vc142.pdb
Mine-Sweeper-game/Mine-Sweeper-game/x64/Debug/vcpkg.applocal.log
Mine-Sweeper-game/x64/Debug/Mine-Sweeper-game.exe
Mine-Sweeper-game/x64/Debug/Mine-Sweeper-game.pdb
